<% form_for @black, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    
  </p>
  <p>
    <%= f.file_field :boxofshit %><br />
   
  </p>
  <b>Tags for this upload:</b> <%= text_field_tag('tags', '') %><br />
  

  <%#= f.tag_list :boxofshit %>

  <p><%= f.submit "Submit" %></p>
<% end %>
