<% title "Blacks" %>

<table>
  <tr>
    <th>Description</th>
    <th>Ownerid</th>
    <th>Lastaccessed</th>
  </tr>
  <% for black in @blacks %>
    <tr>
      <td><%=h black.description %></td>
      
      <td><%=h black.lastaccessed %></td>
      <td><%= link_to "Show", black %></td>
      <td><%= link_to "Edit", edit_black_path(black) %></td>
      <td><%= link_to "Destroy", black, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Black", new_black_path %></p>
